<!DOCTYPE html>
<html>
<head>
    <link href="~/Style/Slider.css" rel="stylesheet" />
    <title>@Page.Title</title>
</head>
<body>
    <div id="slider" style="top:200px; height:750px">
        <ul style="top:200px">
            <li><img src="~/Images/imageuno.jpg" /></li>
            <li><img src="~/Images/imagedos.jpg" /></li>
            <li><img src="~/Images/imageseis.jpg" /></li>
            <li><img src="~/Images/imagecinco.jpg" /></li>
        </ul>
    </div>
</body>
</html>
